
.sign-up-form{
    width: 40vw;
    margin: 0 auto;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    height: 65vh;
}

.sign-up-form h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
  width: 30vw;
  height: 3vw;
  margin-top: 15px;
  padding: 5px 10px;
  outline: none;
}
#one{
     width: 30vw;
  height: 3vw;
  margin-top: 15px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
}
@media screen and (max-width:767px) {
    
.sign-up-form{
    width: 65vw;
    margin-top: 100px;
    height: 55vh;
}

input{
  width: 47vw;
  height: 6.5vw;
  margin-top: 18px;
}
button{
     width: 47vw;
  height: 6.5vw;
  margin-top: 18px;
 
}
}