

.trips{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
     margin-inline: 100px;
}
@media screen and (max-width:767px) {
    .trips{
        grid-template-columns: 1fr;
     justify-items: center;
    }
}

@media (max-width:360px){

.trips{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0;
    padding: 0 10px;
}

}